<a href="https://colab.research.google.com/github/whiteydoublee/Colab/blob/main/Ch2.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D/11_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%EB%AA%A8%EB%8D%B8%ED%8F%89%EA%B0%80%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
"""
날짜 : 2021/10/21
이름 : 김예은
내용 : 머신러닝 모델 평가 실습
"""
import pandas as pd
from sklearn import svm,metrics, model_selection
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [3]:
#데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [23]:
#훈련데이터
iris_data = df_iris.iloc[:, 0:4]
iris_label = df_iris.iloc[:, 4]

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label, test_size=0.01)
train_data.shape

(148, 4)

In [24]:
#학습하기
model1=svm.SVC()
model2=RandomForestClassifier()

model1.fit(train_data, train_label)
model2.fit(train_data, train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [17]:
#테스트하기
result_model1=model1.predict(test_data)
result_model2=model2.predict(test_data)

In [18]:
#모델평가1 - 정확도(Accuracy) 확인
score1 = metrics.accuracy_score(test_label, result_model1)
score2 = metrics.accuracy_score(test_label, result_model2)

print('score1: ',score1)
print('score2: ',score2)

score1:  0.92
score2:  0.9466666666666667

In [21]:
#모델평가2 - 혼동행렬 평가
cm1 = confusion_matrix(test_label, result_model1)
cm2 = confusion_matrix(test_label, result_model2)

print('cm1 ')
print(cm1)
print('cm2')
print(cm2)

cr1 = classification_report(test_label, result_model1, target_names=['setosa','versicolor','virginica'])
cr2 = classification_report(test_label, result_model2, target_names=['setosa','versicolor','virginica'])

print(cr1)
print(cr2)

cm1
[[22  0  0]
 [ 0 25  0]
 [ 0  6 22]]
cm2
[[22  0  0]
 [ 0 25  0]
 [ 0  4 24]]
              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        22
  versicolor       0.81      1.00      0.89        25
   virginica       1.00      0.79      0.88        28

    accuracy                           0.92        75
   macro avg       0.94      0.93      0.92        75
weighted avg       0.94      0.92      0.92        75

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        22
  versicolor       0.86      1.00      0.93        25
   virginica       1.00      0.86      0.92        28

    accuracy                           0.95        75
   macro avg       0.95      0.95      0.95        75
weighted avg       0.95      0.95      0.95        75

In [30]:
#모델평가3 - K-교차검증평가
score1 = cross_val_score(model1, train_data, train_label, cv=5)
score2 = cross_val_score(model2, train_data, train_label, cv=5)

print(score1)
print(score2)

[1.         0.96666667 0.93333333 0.93103448 1.        ]
[0.93333333 1.         0.9        0.96551724 1.        ]